# Build outputs
dist/
coverage/

# Dependencies
node_modules/

# Configuration files
.husky/
charts/
docker/

# Include all TypeScript files
!*.ts
!*.tsx

# Specific files to ignore
jest.config.js
.eslintrc.cjs

